* {
  border: 2px solid red;
  font-family: monospace;
}
.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 32px;
}

.buttons {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}

.buttons button {
  padding: 0px;
  border: 4px solid darkblue;
  background-color: white;
  border-radius: 10%;
  font-weight: bold;
  font-size: 32px;
  max-width: 300px;
  line-height: 300px;
  width: 300px;
  transition-duration: 0.2s;
}

.buttons button:hover {
  background-color: darkblue;
  color: white;
}
